<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>navbar</title>

</head>

<body>
	<!--Website Header-->
	<div th:fragment="header">
		<!--Displays green navbar -->
		<nav class="navbar" style="border-radius: 0; margin:0px; position:fixed; z-index:3; width:100vw; height:8vw;
					background-color:#386641;">

			<!--Navbar content-->
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<!--Logo and website name (positioned left)-->
				<ul class="nav navbar-nav navbar-left">
					<li><img th:src="@{/images/whiteLogo.png}" class="navabar-logo" onclick="location.href='/'" width="112" height="112"
							style="margin: 5px 0px 5px 0px;" />
					</li>
					<a class="navbar-brand" style="color:white; font: bold 6vw Myriad Pro;">Mulligan</a>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><button onclick="location.href='/'" class="navbar-button" role="button">Home</button></li>
					<li><button onclick="location.href='/post/'" class="navbar-button" role="button">Post</button></li>
					<li><button onclick="location.href='/account/'" class="navbar-button" role="button">Account</button></li>
					<li><button onclick="location.href='/register/'" class="navbar-button" role="button">Register</button></li>
					<li><button onclick="location.href='/login/'" class="navbar-button-login" role="button">Log-in</button></li>
				</ul>
			</div>
		</nav>
	</div>
</body>

</html>