.navbar-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #3E8914;
	background-color: #3E8914;
	color:white;
	margin: 2vw 8px 8px 8px;
	display: inline-block;
	font: normal 2.2vw Myriad Pro;
}

.post-card{
	border-style: solid;
	border-width: 2px;
	border-color: #3E8914;
	margin: 2vw 8px 8px 8px;
}

.post-author{
	text-align: left;
	letter-spacing: 0px;
	color: #9F9F9F;
	opacity: 1;
}

.post-date{
	text-align: center;
	letter-spacing: 0px;
	color: #9F9F9F;
	opacity: 1;
}

@media (max-width: 900px){
	.navbar-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: rgb(135, 11, 14);
	background-color: rgb(135, 21, 123);
	color:white;
	margin: 2vw 8px 8px 8px;
	display: inline-block;
	font: normal 2.2vw Myriad Pro;
}
}