.navbar-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #3E8914;
	background-color: #3E8914;
	color:white;
	margin: 2vw 8px 8px 8px;
	display: inline-block;
	font: normal 2.2vw Myriad Pro;
}

.signup-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #3E8914;
	background-color: #3E8914;
	color:white;
	margin: 2vw 8px 8px 8px;
	display: inline-block;
	font: normal 2.2vw Myriad Pro;
	text-align: center;
}

.navbar-button-login{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #E7DFC6;
	background-color: #E7DFC6;
	color: #131513;
	margin: 2vw 8px 8px 8px;
	font: normal 2.2vw Myriad Pro;
}

.delete-post{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #3E8914;
	background-color: #3E8914;
	color:white;
	font: normal 1vw Myriad Pro;
}

.post-card{
	border-style: solid;
	border-width: 1px;
	border-color: #3E8914;
	margin: 8px;
	text-align: left;
	padding: 8px;
	background: rgb(233, 253, 240) 0% 0% no-repeat padding-box;
}

.post-details{
	text-align: left;
	letter-spacing: 0px;
	color: #9F9F9F;
	opacity: 1;
}

.post-textbox{
	padding: 0;
	height: 30px;
	position: relative;
	left: 0;
 	outline: solid;
  	border: 1px solid #3E8914;
  	border-color: #3E8914;
  	background-color: white;
  	font-size: 36px;
  	height: 40px;
}

.search-bar{
	padding: 4px;
	text-align: left;
}

.search-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: #E7DFC6;
	background-color: #E7DFC6;
	color: #131513;
	margin: 2vw 8px 8px 8px;
	font: normal 2.2vw Myriad Pro;
}

@media (max-width: 1200px){
	.navbar-button{
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	border-color: rgb(135, 11, 14);
	background-color: rgb(135, 21, 123);
	color:white;
	margin: 2vw 8px 8px 8px;
	display: inline-block;
	font: normal 2.2vw Myriad Pro;
	}
	
	
}