<!DOCTYPE html>
<html <html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/navbar">


<head>
	Mulligan Home Page
</head>

<body>
	<nav>
		<ul>
			<li>
				<a href="/"> Home </a>
			</li>
			<li>
				<a href="/post"> Post </a>
			</li>
			<li>
				<a href="/account"> Account </a>
			</li>
			<li> 
				<a href="/login"> Login </a>
			</li>
			<li> 
				<a href="/register"> Register </a>
			</li>
			<li> 
				<a href="/editPost"> Edit Post </a>
			</li>
			<li> 
				<a href="/editUser"> Edit User </a>
			</li>
		</ul>
	</nav>
</body>

</html>